@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --rich-black: #0d1f2d;
    --paynes-gray: #546a7b;
    --cadet-gray: #9ea3b0;
    --misty-rose: #fae1df;
    --desert-sand: #e4c3ad;

}

* {
    font-family: 'Inter', sans-serif;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;

    color: white;
    background-color: var(--paynes-gray);

    margin: 0;

    /* overflow: hidden; */
    /* background: rgb(133,144,158);
    background: linear-gradient(to bottom, rgba(133,144,158,1) 0%, rgba(164,165,175,1) 29%, rgba(213,194,193,1) 55%, rgba(250,225,223,1) 58%, rgba(242,219,218,1) 60%, rgba(126,136,148,1) 76%, rgba(84,106,123,1) 93%, rgba(66,80,91,1) 100%); */
}


@keyframes slideOpen {
    0% {
        height: 0%;
    }    
    50% {
        height: 50%;
    }
    100% {
        height: 100%;
    }
}


ul {
    list-style-type: none;
}

li {
    background: #1c1d27;
    margin: 3px 1px 3px 0px;
}

.hidden {
    display: none !important;
}


.column {
    float: left;
    width: 25%;
    height: 100vh;
    background: #16161e;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.list {
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    left: 0;
}

.list > li:hover {
    background: #232534;
}

.list-big-font > li{
    font-size: 20px;
    padding: 10px 2px 10px 2px;
}

.selectedServer {
    background: red;
}


#powerMenu {

}

#console-scroll-down {
    height: 24px;
}

#console-input {
    width: 100%;
    height: 24px;
    font-size: 20px;
}

#console-window {
    overflow: hidden;
    overflow-y: scroll;
    height: calc((100% - 28px) - 24px);
}

#serverList-container {
    box-shadow: -1px 0px 0px #1e1e29 inset;
    /* border-right: 3px solid #1e1e29; */
}

#selectMenu {
    /* padding-left: 5px; */
}